#llave
/micro.pem

# Python
.venv/
venv/
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# Entorno / secretos
.env
.env.*

# Datos grandes (versionar con DVC, no con Git)
data/raw/
*.jsonl
*.tar.xz
*.tar.gz
*.zip

# Modelos / artefactos pesados
*.pkl
*.joblib
*.pt
*.bin
*.safetensors
models/artifacts/*_ckpt/

# MLflow local
mlruns/
mlflow.db

# Sistema
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
